<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conditional</title>
</head>
<body>
    <center>
        <h1>if else conditions</h1>
        <h1>
            {% if a > b %}
                a is heighest
            {% else %}
                b is heighest
            {% endif %}
        </h1>      
    </center>
    <center>
        <h1>if elif else conditions</h1>
        <h1>
            {% if a > b and a > c %}
             a is heighest
            {%elif b > c %}
             b is heighest
            {% else %}
             c is heighest
            {% endif %}
        </h1>
    </center>
</body>
</html>